body{font-family: 'Courier New', Courier, monospace;
font-size: 1em;
color: brown;
background-color: black;
}
h1{
    font-size: 4em;
    color: white;
    background-color: beige;
}
h2 {
    color: burlywood;

}
p{
    color: aqua;
    font-size: small;
}
